
.home-header
  .menu-list
    margin-left 50px
    margin-right 50px
    height 100%
    float left
    ul
      display flex
      height 100%
      list-style-type none
      //padding 0 30px
      li
        height 100%
        box-sizing border-box
        font-size 14px
        padding 0 30px
        &.current
          a
            color #5799FE
            border-bottom 3px solid #5799FE
            .icon
              background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAclBMVEUAAABLkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv4Mm/ViAAAAJXRSTlMAxteH1ElXp6Bm0HNCMhfftqxhTjkQ5Mq9NR72nZWMfXtvJCAKdguaDQAAAHZJREFUCNddzUkSgyAURdEn4lekh6DG9A3732KkYqWiZ3ZHFztPV/1IgFV1uNVfucGgccRqlGANstIJRS9K8gNTm5waP/+li72+GthHyZPixFVOaAksIhh60ZsCGWBYN/PEnRUY+blbSJ2tzx3MpV34O5IUETsfQBoGXT216vYAAAAASUVORK5CYII=")

        &:nth-child(2)
          a
            .icon
              background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAaVBMVEUAAAC0uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL7mAaWkAAAAI3RSTlMAtqVFsKugjtiXkoFSS7yzeHJeOi0gFxEK08/Kv5qHZjkaauPkOWQAAAB1SURBVAjXLcZFEsMwEATA0YrJKDLb+f8jU5W4Tw1Ux37sA6TVxQIUrtcZ24DXtYGZ+P+9MKjTSlKKROcP7IR6hzA/3HU4eqEnzicthcU+tDB6P07x6iCNjrm1zE9DYJ/kSQjSQ+gxm7ECQHELB7JiUpHsbcIX1iMGNGSZdS4AAAAASUVORK5CYII=")
          &.current
            a
              .icon
                background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAbFBMVEUAAABLkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv5Lkv463CzpAAAAJHRSTlMAt7CPtKugRTkYpJmVUknW0bymiIJyZl0gCtrKv3x3LxJNKA4uEaAIAAAAeElEQVQI1y2MRxLDIAADRcdgcKG7J/n/H8NMshfpsgs8IycdbgfgnkffZ1Bs1tgv/Mk7yOZ/X08cMlixSrnS5bQ4DD7aOd2lBZZTVpQqQdARx9lcijGVV14gNuZra9WHaQXJdzSUGnY53ovpQWdgswKqJEKarr/xBc7gBmndISZSAAAAAElFTkSuQmCC")
        a
          display flex
          height 100%
          align-items center
          color #515C6B
          text-decoration none
          box-sizing border-box
          padding 0 5px
          i
            margin-right 4px
            width 12px
            height 12px
          .icon
            background-size 12px
            background-position 0 0
            background-repeat no-repeat
            background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAMAAABlXnzoAAAAb1BMVEUAAAC0uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL60uL4AiO4iAAAAJHRSTlMAx9eHSaCnZlc34NPPcEIyINWsYU4Ywrq0fBMP9uXMlYx2XQq2hEMkAAAAdElEQVQI11XNWQ6DMAxF0dcQiAmQOYyd6/2vsUBR1Z6/K8t6cOPpqwNEX8Sp+GAJbVHjsJ6FBBu77NmqLZtamL8cZHA/OabW3jP0/ns2nrzhBdUTIiFmcvSiSBm4HDOu94NWuDblprOsA5eYb9UqTJgfKuEN0u4GY1fTIy8AAAAASUVORK5CYII=")
          span{
            line-height 1
          }
