/**
 * ****************************************
 * *************** 颜色定义规范 *************
 * ****************************************
 */
// 字体颜色
$cl-txt: #333;
$cl-white: #fff;
$cl-green: #067c64;
$cl-green-dark: #043136;
$cl-green-light: #bde6d6;//浅绿色

$cl-orange: #ff6e16;//橙色
$cl-blue: #55bdff;//蓝色
$cl-red: #fc0000;//红色

// 背景色
$bg-green: #0e9273;//绿色
$bg-white: #fff;//白色
$bg-gray: #f2f4f5;//灰色
$bg-blue: #3772eb;//蓝色

//边框颜色
$border-gray-light: #dce0e5;//浅灰色


/**
 * ****************************************
 * *************** 字体定义规范 *************
 * ****************************************
 */
// 释义
// smallest   st       最小
// smaller    sr       比较小
// small      sm       小        默认为 body 下面的字体大小
// medium     md       中等
// large      lg       大
// larger     lr       比较大
// largest    lt       最大

// 普通屏幕字体大小
$fz-st: 10px;
$fz-sr: 12px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-lr: 22px;
$fz-lt: 36px;

